header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/main_img.jpg');
  text-align: center;
  color: #e40f27a8;
}
/*Footer*/
.footer{
  background-color: #fff;
  padding: 30px 0px;
}
.footer .title{
  overflow: hidden;
  margin-bottom: 5px;
}
.footer .title .icon{
  display: inline-block;
}
.footer .title h3{
  display: inline-block;
  vertical-align: middle;
  margin-left: 7px;
  padding-left: 7px;
  color: #000;
  border-left: 2px solid #000;
  text-transform: uppercase;
  font-family: 'proxima_nova_blblack';
  font-size: 30px;
}
.footer .title h3 span{
  display: block;
  font-size: 18px;
}
.footer p{
  font-size: 12px;
  margin-bottom: 10px;
}
.footer span{
  display: block;
}
.bottom_links{
  background-color: #00000e;
  padding: 0px;
  height: 40px;
  padding-top: 7px;
}
.bottom_links p {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'ProximaNova-SemiBold';
  text-align: right;
  padding-top: 3px;
  margin: 0px;
}
.bottom_links ul{
  overflow: hidden;
  float: left;
  list-style: none;
}
.bottom_links ul li {
  float: left;
  margin-right: 5px;
}
.bottom_links .links p{
  float: left;
  text-align: left;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'ProximaNova-Regular', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  border-color: #F05F40;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #F05F40;
}
a:hover,
a:focus {
  color: #eb3812;
}
b{
  font-family: 'ProximaNova-Bold';
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section {
  padding: 2em 0;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}
